/* Multi-column authors for HTML */
.quarto-title-meta-contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 100%;
}

/* Ensure it stacks on small mobile screens */
@media (max-width: 768px) {
  .quarto-title-meta-contents {
    grid-template-columns: 1fr;
  }
}